/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* CSS Resetnya */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Yang dibuat */
body{
    background-color: lightgray;
    font: 18px/28px times;
}

.container{
    width: 900px;
    margin: auto;
    background-color: white;
}

/* Header */
.header{
    padding-top: 20px;
}
.header h1{
    font-size: 34px;
    font-weight: bold;
}

.header ul li{
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.header a{
    color: dimgray;
    text-decoration: none;
    padding: 5px;
}

.header a:hover{
    color: salmon;
    background-color: dodgerblue;
}

/* Image */
.image{
    height: 500px;
    background-image: url(cat4.jpg);
    margin-top: 7px;
    border-top: 5px solid salmon;
    border-bottom: 5px solid salmon;
    background-position: 170px -50px;
}

/* Penulis */
.penulis h2{
    margin-top: 10px;
    font-size: 26px;
}

.penulis p{
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 15px;
}

.penulis a{
    text-decoration: none;
    color: dimgray;
}

.penulis a:hover{
    color: salmon;
    background-color: dodgerblue;
    padding: 5px;
}

/* Content */
.content p{
    margin-bottom: 15px;
    font-size: 18px;
    text-indent: 15px;
}

.footer{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    background-color: black;
    color: whitesmoke;
    padding: 10px;
}